<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <feature>servlet-4.0</feature>
        <feature>springBoot-1.5</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443" />



     <variable defaultValue="9080" name="httpEndpoint_port_1"/>
        
    <variable defaultValue="*" name="httpEndpoint_host_1"/>
        
    <variable defaultValue="9443" name="httpEndpoint_secure_port_1"/>


</server>   