<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <feature>servlet-4.0</feature>
        <feature>springBoot-2.0</feature>
         <feature>beanValidation-1.1</feature>
        <feature>cdi-2.0</feature>
        <feature>jaxrs-2.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443" />



     <variable defaultValue="9080" name="httpEndpoint_port_1"/>
        
    <variable defaultValue="*" name="httpEndpoint_host_1"/>
        
    <variable defaultValue="9443" name="httpEndpoint_secure_port_1"/>

<!-- Added this line to expose port -->
    <httpEndpoint host="*" httpPort="8080" httpsPort="-1"/>


</server>   